@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.App {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.App span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.App span:nth-child(0) {
    color: #000000;
    top: 100%;
    left: 16%;
    animation-duration: 28s;
    animation-delay: -3s;
    transform-origin: 10vw 3vh;
    box-shadow: 4vmin 0 0.5396462939577826vmin currentColor;
}
.App span:nth-child(1) {
    color: #9e9e9e;
    top: 4%;
    left: 24%;
    animation-duration: 18s;
    animation-delay: -48s;
    transform-origin: -6vw 9vh;
    box-shadow: -4vmin 0 0.9295355796222vmin currentColor;
}
.App span:nth-child(2) {
    color: #9e9e9e;
    top: 41%;
    left: 97%;
    animation-duration: 45s;
    animation-delay: -20s;
    transform-origin: -10vw 3vh;
    box-shadow: 4vmin 0 0.5363901606660795vmin currentColor;
}
.App span:nth-child(3) {
    color: #000000;
    top: 42%;
    left: 62%;
    animation-duration: 43s;
    animation-delay: -17s;
    transform-origin: -18vw -7vh;
    box-shadow: -4vmin 0 0.6765011941927228vmin currentColor;
}
.App span:nth-child(4) {
    color: #000000;
    top: 59%;
    left: 13%;
    animation-duration: 38s;
    animation-delay: -26s;
    transform-origin: -19vw 1vh;
    box-shadow: 4vmin 0 1.0746685328399885vmin currentColor;
}
.App span:nth-child(5) {
    color: #000000;
    top: 26%;
    left: 28%;
    animation-duration: 26s;
    animation-delay: -47s;
    transform-origin: -1vw -18vh;
    box-shadow: -4vmin 0 0.5088289263671166vmin currentColor;
}
.App span:nth-child(6) {
    color: #000000;
    top: 44%;
    left: 81%;
    animation-duration: 49s;
    animation-delay: -36s;
    transform-origin: 20vw -19vh;
    box-shadow: 4vmin 0 0.7186305266493769vmin currentColor;
}
.App span:nth-child(7) {
    color: #9e9e9e;
    top: 94%;
    left: 53%;
    animation-duration: 10s;
    animation-delay: -8s;
    transform-origin: 5vw -15vh;
    box-shadow: -4vmin 0 1.3575226663009563vmin currentColor;
}
.App span:nth-child(8) {
    color: #9e9e9e;
    top: 85%;
    left: 54%;
    animation-duration: 26s;
    animation-delay: -28s;
    transform-origin: -8vw 18vh;
    box-shadow: -4vmin 0 1.124460587117293vmin currentColor;
}
.App span:nth-child(9) {
    color: #9e9e9e;
    top: 7%;
    left: 5%;
    animation-duration: 20s;
    animation-delay: -26s;
    transform-origin: -2vw 24vh;
    box-shadow: -4vmin 0 1.2002485048503382vmin currentColor;
}
.App span:nth-child(10) {
    color: #000000;
    top: 47%;
    left: 64%;
    animation-duration: 6s;
    animation-delay: -30s;
    transform-origin: -6vw 4vh;
    box-shadow: -4vmin 0 0.9354226153805509vmin currentColor;
}
.App span:nth-child(11) {
    color: #000000;
    top: 34%;
    left: 57%;
    animation-duration: 27s;
    animation-delay: -40s;
    transform-origin: -6vw 7vh;
    box-shadow: -4vmin 0 0.5705798789205156vmin currentColor;
}
.App span:nth-child(12) {
    color: #9e9e9e;
    top: 9%;
    left: 12%;
    animation-duration: 19s;
    animation-delay: -9s;
    transform-origin: 18vw 16vh;
    box-shadow: 4vmin 0 1.0605098649317606vmin currentColor;
}
.App span:nth-child(13) {
    color: #9e9e9e;
    top: 17%;
    left: 10%;
    animation-duration: 36s;
    animation-delay: -2s;
    transform-origin: 6vw 15vh;
    box-shadow: -4vmin 0 1.1200350270261803vmin currentColor;
}
.App span:nth-child(14) {
    color: #000000;
    top: 81%;
    left: 99%;
    animation-duration: 49s;
    animation-delay: -32s;
    transform-origin: -20vw -8vh;
    box-shadow: -4vmin 0 0.7410318243599192vmin currentColor;
}
.App span:nth-child(15) {
    color: #000000;
    top: 82%;
    left: 16%;
    animation-duration: 12s;
    animation-delay: -20s;
    transform-origin: -2vw 24vh;
    box-shadow: 4vmin 0 1.4173294823140143vmin currentColor;
}
.App span:nth-child(16) {
    color: #000000;
    top: 74%;
    left: 80%;
    animation-duration: 47s;
    animation-delay: -18s;
    transform-origin: -13vw 14vh;
    box-shadow: 4vmin 0 0.6847377803077359vmin currentColor;
}
.App span:nth-child(17) {
    color: #000000;
    top: 77%;
    left: 44%;
    animation-duration: 17s;
    animation-delay: -9s;
    transform-origin: 12vw 22vh;
    box-shadow: 4vmin 0 1.0283075351831017vmin currentColor;
}
.App span:nth-child(18) {
    color: #000000;
    top: 61%;
    left: 81%;
    animation-duration: 29s;
    animation-delay: -39s;
    transform-origin: 16vw -8vh;
    box-shadow: 4vmin 0 0.8997514116427492vmin currentColor;
}
.App span:nth-child(19) {
    color: #9e9e9e;
    top: 4%;
    left: 62%;
    animation-duration: 24s;
    animation-delay: -10s;
    transform-origin: -13vw 0vh;
    box-shadow: 4vmin 0 0.6406737170612582vmin currentColor;
}
.App span:nth-child(20) {
    color: #000000;
    top: 59%;
    left: 84%;
    animation-duration: 19s;
    animation-delay: -19s;
    transform-origin: 21vw 3vh;
    box-shadow: 4vmin 0 0.7031364839335186vmin currentColor;
}
.App span:nth-child(21) {
    color: #9e9e9e;
    top: 29%;
    left: 78%;
    animation-duration: 41s;
    animation-delay: -34s;
    transform-origin: -7vw -3vh;
    box-shadow: -4vmin 0 0.6030248609765534vmin currentColor;
}
.App span:nth-child(22) {
    color: #9e9e9e;
    top: 2%;
    left: 30%;
    animation-duration: 40s;
    animation-delay: -1s;
    transform-origin: -11vw 15vh;
    box-shadow: -4vmin 0 0.6722179222899434vmin currentColor;
}
.App span:nth-child(23) {
    color: #9e9e9e;
    top: 10%;
    left: 27%;
    animation-duration: 7s;
    animation-delay: -38s;
    transform-origin: 12vw 22vh;
    box-shadow: 4vmin 0 1.2251143377831633vmin currentColor;
}
.App span:nth-child(24) {
    color: #9e9e9e;
    top: 63%;
    left: 86%;
    animation-duration: 42s;
    animation-delay: -15s;
    transform-origin: 10vw 19vh;
    box-shadow: -4vmin 0 0.7606939305725806vmin currentColor;
}
.App span:nth-child(25) {
    color: #000000;
    top: 38%;
    left: 57%;
    animation-duration: 7s;
    animation-delay: -30s;
    transform-origin: 25vw -13vh;
    box-shadow: 4vmin 0 1.426553747152199vmin currentColor;
}
.App span:nth-child(26) {
    color: #9e9e9e;
    top: 52%;
    left: 80%;
    animation-duration: 15s;
    animation-delay: -11s;
    transform-origin: 16vw -3vh;
    box-shadow: -4vmin 0 0.7734933518661629vmin currentColor;
}
.App span:nth-child(27) {
    color: #000000;
    top: 96%;
    left: 40%;
    animation-duration: 39s;
    animation-delay: -22s;
    transform-origin: 18vw 8vh;
    box-shadow: -4vmin 0 0.9017679817783839vmin currentColor;
}
.App span:nth-child(28) {
    color: #000000;
    top: 70%;
    left: 6%;
    animation-duration: 16s;
    animation-delay: -29s;
    transform-origin: -16vw 15vh;
    box-shadow: -4vmin 0 0.6389565196468348vmin currentColor;
}
.App span:nth-child(29) {
    color: #000000;
    top: 29%;
    left: 63%;
    animation-duration: 33s;
    animation-delay: -23s;
    transform-origin: 8vw -23vh;
    box-shadow: -4vmin 0 1.0957890988082717vmin currentColor;
}
.App span:nth-child(30) {
    color: #000000;
    top: 86%;
    left: 30%;
    animation-duration: 44s;
    animation-delay: -7s;
    transform-origin: 22vw -9vh;
    box-shadow: -4vmin 0 0.5317071329249137vmin currentColor;
}
.App span:nth-child(31) {
    color: #000000;
    top: 68%;
    left: 85%;
    animation-duration: 20s;
    animation-delay: -29s;
    transform-origin: 15vw 19vh;
    box-shadow: 4vmin 0 0.8564889795988013vmin currentColor;
}
.App span:nth-child(32) {
    color: #000000;
    top: 32%;
    left: 78%;
    animation-duration: 44s;
    animation-delay: -35s;
    transform-origin: -11vw 14vh;
    box-shadow: -4vmin 0 0.7243990569137346vmin currentColor;
}
.App span:nth-child(33) {
    color: #9e9e9e;
    top: 37%;
    left: 48%;
    animation-duration: 37s;
    animation-delay: -11s;
    transform-origin: 18vw 15vh;
    box-shadow: -4vmin 0 1.448374138325003vmin currentColor;
}
.App span:nth-child(34) {
    color: #000000;
    top: 53%;
    left: 79%;
    animation-duration: 51s;
    animation-delay: -46s;
    transform-origin: 17vw 21vh;
    box-shadow: -4vmin 0 0.5664854263142591vmin currentColor;
}
.App span:nth-child(35) {
    color: #9e9e9e;
    top: 58%;
    left: 3%;
    animation-duration: 34s;
    animation-delay: -24s;
    transform-origin: -12vw -16vh;
    box-shadow: -4vmin 0 0.8719941749601041vmin currentColor;
}
.App span:nth-child(36) {
    color: #9e9e9e;
    top: 36%;
    left: 93%;
    animation-duration: 51s;
    animation-delay: -39s;
    transform-origin: 23vw 4vh;
    box-shadow: -4vmin 0 1.4187942202586445vmin currentColor;
}
.App span:nth-child(37) {
    color: #9e9e9e;
    top: 2%;
    left: 34%;
    animation-duration: 14s;
    animation-delay: -19s;
    transform-origin: -4vw 14vh;
    box-shadow: 4vmin 0 0.8585345744759962vmin currentColor;
}
.App span:nth-child(38) {
    color: #9e9e9e;
    top: 36%;
    left: 95%;
    animation-duration: 34s;
    animation-delay: -1s;
    transform-origin: 20vw -6vh;
    box-shadow: -4vmin 0 0.8037854379689886vmin currentColor;
}
.App span:nth-child(39) {
    color: #9e9e9e;
    top: 97%;
    left: 79%;
    animation-duration: 28s;
    animation-delay: -23s;
    transform-origin: 25vw -20vh;
    box-shadow: 4vmin 0 0.8234001087050038vmin currentColor;
}
